.env
*.env
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.*.local
dist/
build/
out/
coverage/
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
logs/
*.log
.npm
.eslintcache
*.pid
*.seed
*.pid.lock
dev-journal.md

