{
  "API_URL": "",
  "SERVER_DID": "",
  "PROXY_SERVER_DID": "did:pimlico:server",
  "NETWORK_NAME": "sepolia",
  "DEFAULT_PORT": "8001",
  "DEFAULT_RPC_URL": "",
  "PIMLICO_PROXY_URL": "http://localhost:8002",
  "SERVICE_NAME": "satellite",
  "LOG_LEVEL": "info",
  "FRONTEND_URL": ""
}
